<div class="close-modal"><span class="fa fa-times" ng-click="close()"></span></div>
<img class="img-responsive standard-resolution" alt="" ng-src="{{ singular.full }}">
<div class="modal-footer">
    <div class="row">
        <span class="next-image" ng-class="{disabled: !singular.prev}" ng-click="openImage(singular.prev, 'Next')">
            <div class="col-xs-1 margin-top-10">
                <i ng-class="loadingImageNext ? 'fa-circle-o-notch fa-spin' : 'fa-chevron-left'" class="fa"></i>
            </div>
        </span>
        <div class="col-xs-10">
            <p class="caption-text" ng-bind-html="singular.caption_text | unsafe"></p>
            <div class="row">
                <div class="col-xs-6 text-center">
                    <p><a href="{{ singular.link }}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> منبع</a></p>
                </div>
                <div class="col-xs-6 text-center">
                    <p><a href="{{ singular.full }}" target="_blank"><i class="fa fa-search-plus" aria-hidden="true"></i> بزرگنمایی</a></p>
                </div>
            </div>
        </div>
        <span class="prev-image" ng-class="{disabled: !singular.next}" ng-click="openImage(singular.next, 'Prev')">
            <div class="col-xs-1 margin-top-10">
                <i ng-class="loadingImagePrev ? 'fa-circle-o-notch fa-spin' : 'fa-chevron-right'" class="fa"></i>
            </div>
        </span>
    </div>
</div>
